<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-4.1.xsd">

	<http auto-config="true">
		<intercept-url pattern="/vaadin/netbank**" access="hasRole('ROLE_USER')" />

		<!-- <form-login login-page="/login" authentication-failure-url="/login?error" -->
		<!-- authentication-success-forward-url="/main" /> -->

		<form-login default-target-url="/vaadin/netbank"
			login-page="/vaadin/login" login-processing-url="/j_spring_security_check"
			authentication-details-source-ref="xyWebAuthenticationDetailsSource" />

		<csrf disabled="true" />
		<!-- vaadin has csrf protection, the first page is not protected, but that 
			should not be a problem. Is there an external spring managed logout page? -->

	</http>

	<authentication-manager>
		<authentication-provider ref="xyAuthencticationProvider" />
	</authentication-manager>

</beans:beans>