<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util">

	<context:annotation-config />
	<bean class="hu.csdivad.xy.config.AppConfig" scope="singleton" />
<!-- 	<bean class="hu.csdivad.xy.config.MainServlet" scope="prototype" /> -->
	<bean class="hu.csdivad.xy.dao.impl.UserDaoImpl" scope="singleton" id="firstUserDaoImpl" />
	<bean class="hu.csdivad.xy.spring.XyUserDetailsService" scope="singleton" id="xyUserDetailsService" />
	<bean class="hu.csdivad.xy.vaadin.LoginView" scope="prototype" />
	<bean class="hu.csdivad.xy.vaadin.MainUI" scope="prototype" />
	<bean class="hu.csdivad.xy.vaadin.MainView" scope="prototype" />
	
<!-- 	<bean class="hu.csdivad.xy.config.AppConfig$Servlet" scope="prototype" /> -->
	
	
<!-- 	<context:component-scan base-package="com.csdivad.xy.*" /> -->

</beans>