// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//@import "../valo/valo.scss";
@import "../reindeer/reindeer.scss";

@mixin mytheme {
//  @include valo;
	@include reindeer;

	.backColor{
           //background-color:#884433;


			//background: rgba(179,220,237,1);
			//background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
			//background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
			//background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
			//background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
			//background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
			//background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
			//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
           
           
   			background: -moz-linear-gradient(225deg, rgba(54,255,184,1) 0%, rgba(54,255,184,1) 8%, rgba(41,78,128,1) 86%, rgba(41,78,128,1) 100%); /* ff3.6+ */
   			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(41,78,128,1)), color-stop(14%, rgba(41,78,128,1)), color-stop(92%, rgba(54,255,184,1)), color-stop(100%, rgba(54,255,184,1))); /* safari4+,chrome */
			background: -webkit-linear-gradient(225deg, rgba(54,255,184,1) 0%, rgba(54,255,184,1) 8%, rgba(41,78,128,1) 86%, rgba(41,78,128,1) 100%); /* safari5.1+,chrome10+ */
  			background: -o-linear-gradient(225deg, rgba(54,255,184,1) 0%, rgba(54,255,184,1) 8%, rgba(41,78,128,1) 86%, rgba(41,78,128,1) 100%); /* opera 11.10+ */
  		  	background: -ms-linear-gradient(225deg, rgba(54,255,184,1) 0%, rgba(54,255,184,1) 8%, rgba(41,78,128,1) 86%, rgba(41,78,128,1) 100%); /* ie10+ */
    		background: linear-gradient(225deg, rgba(54,255,184,1) 0%, rgba(54,255,184,1) 8%, rgba(41,78,128,1) 86%, rgba(41,78,128,1) 100%); /* w3c */
    		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36FFB8', endColorstr='#294E80',GradientType=1 ); /* ie6-9 */
           
      }
}
