*.settings/
*/.build/
*/.tern-project
*/.apt_generated/

*.factorypath
*.classpath
*/bin/

*.project
*/target
/target

src/main/webapp/VAADIN/widgetsets
src/main/webapp/VAADIN/gwt-unitCache
src/main/webapp/VAADIN/themes/mytheme/styles.css
